@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }
  * ::-webkit-scrollbar {
    display: none; }

p {
  font-size: 16px; }

h1 {
  padding: 0.6rem;
  font-size: 1.4rem;
  font-family: 'Moul'; }

h2 {
  padding: 0.4rem;
  font-size: 1.2rem;
  font-family: 'Moul'; }

h3 {
  padding: 0.2rem;
  font-size: 1.1rem;
  font-family: 'Moul'; }

/* fuentes para textos que igual no funcionan */
/* Aqui empieza el css de el index */
nav .title-home {
  margin: 0 auto;
  color: black;
  text-decoration: none; }

/* se reaiza con grids de css, aun no esta definido como me gustaria la vista en desktop y mobile */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.20fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "SECTION1 SECTION1 SECTION1" "SECTION2 SECTION2 SECTION2" "SECTION3 SECTION3 SECTION3" "SECTION4 SECTION4 SECTION4" "FOOTER FOOTER FOOTER";
  width: 100%;
  height: 100%; }

.SECTION1 {
  grid-area: SECTION1; }

.SECTION2 {
  grid-area: SECTION2; }

.SECTION3 {
  grid-area: SECTION3; }

.SECTION4 {
  grid-area: SECTION4; }

.FOOTER {
  grid-area: FOOTER; }

.child {
  width: 100%;
  height: 42vh;
  margin: 4vh 0rem; }

.child > img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.bg-agrotoxicos {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.child {
  filter: grayscale(1); }

.child:hover {
  filter: grayscale(0);
  transition-property: filter;
  transition-duration: 2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }

.FOOTER {
  padding: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  color: black;
  background-color: #a6f; }

.FOOTER > p {
  margin: 0 auto;
  margin-top: -2rem; }

.bg > img {
  position: relative;
  display: inline-block;
  text-align: center; }

.bg > h2 {
  position: absolute;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bold;
  font-size: 30px;
  width: 12rem;
  height: auto; }

.bg > a > button {
  visibility: hidden;
  background-color: transparent;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.bg:hover > a > button {
  visibility: visible;
  position: absolute;
  bottom: 3%;
  right: 3%;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  background-color: transparent;
  height: 1.6rem;
  width: 8rem;
  font-size: 1rem;
  box-shadow: #0000003d 0px 3px 8px;
  transition: 2s; }

.adopta > h2 {
  color: #E07934;
  text-align: right;
  bottom: 12%;
  right: 5%; }

.adopta:hover > a > button {
  background-color: #e03f34; }

.petroleo h2 {
  color: #0062cc;
  text-align: left;
  bottom: 16%;
  left: 3%; }

.petroleo:hover > a > button {
  background-color: #007bff;
  left: 3%; }

.agrotoxicos > h2 {
  color: #e1de27;
  text-align: left;
  bottom: 12%;
  right: 3%;
  width: 10rem; }

.agrotoxicos:hover > a > button {
  background-color: #e1de27;
  right: 3%; }

.lgbt > h2 {
  color: #ffffff;
  text-align: left;
  bottom: 44%;
  left: -17%;
  transform: rotate(270deg); }

.lgbt:hover > a > button {
  background-color: #ffffff;
  left: 3%; }

/* este media query esta hecho para acomodar el desktop porque lo de arriba es para mobile */
@media only screen and (min-width: 768px) {
  .bg:hover > a > button {
    width: 12rem; }
  .lgbt > h2 {
    text-align: left;
    bottom: 16%;
    left: 3%;
    transform: rotate(0deg); }
  .bg > h2 {
    font-size: 48px;
    width: 30rem;
    height: auto;
    bottom: 12%;
    right: 4%; } }

/* ---------ADOPTA----------------- */
.afiche {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .afiche-adopta {
    background-image: linear-gradient(0deg, #ff8e44 0%, #f91362 50%, #35126A 100%); }
    .afiche-adopta .title-1 {
      font-size: 2.8rem;
      transform: scale(1, 3);
      font-family: 'Coda Caption', sans-serif; }
    .afiche-adopta .title-2 {
      font-size: 2.7rem;
      transform: scale(1, 2.5);
      font-family: 'Roboto Mono', monospace; }
    .afiche-adopta img {
      width: 15rem; }
    .afiche-adopta .title-3 {
      font-size: 2.8rem;
      transform: scale(1, 3);
      font-family: 'Moul', cursive; }
  .afichefooter {
    border-top: 2px solid black;
    padding: 1rem;
    width: 80%;
    font-size: 1.5rem;
    top: 10px;
    position: relative; }
  .afiche .nav-item {
    width: 100px; }
  .afiche .nav-item-header {
    margin-top: 2rem; }
  .afiche .nav-item-header {
    color: black;
    text-decoration: none;
    animation: 2seg;
    margin-top: 2rem; }

/* ------- main ----*/
.row {
  align-items: center; }

#adopta {
  text-align: center;
  font-size: 12px; }
  #adopta p {
    font-size: 14px; }
  #adopta .section1 {
    width: 100%;
    padding: 3rem 2rem; }
    #adopta .section1 p {
      margin-top: 2rem; }
    #adopta .section1 img {
      margin-top: 3rem; }
  #adopta .section2 {
    --bs-gutter-x: 0rem;
    width: 100%;
    background-color: #35126A;
    padding: 2rem 1rem;
    color: white;
    align-items: flex-start; }
    #adopta .section2 p {
      margin-top: 3rem;
      width: 100%;
      font-size: 16px; }
    #adopta .section2 img {
      text-align: center;
      margin: 0.5rem 0rem;
      width: 400px; }
    #adopta .section2 h2 {
      margin-top: 1rem;
      font-size: 25px; }
    #adopta .section2 .accordion {
      margin: 1rem; }
  #adopta .section3 {
    --bs-gutter-x: 0rem;
    width: 100%;
    display: flex;
    align-items: flex-start; }
    #adopta .section3 h3 {
      padding: 1rem; }
    #adopta .section3 p {
      padding: 0.5rem 0.5rem;
      font-size: 16px; }
    #adopta .section3 ul {
      list-style: none;
      text-align: center;
      margin: 1rem; }
      #adopta .section3 ul li {
        font-weight: bold;
        font-size: 14px;
        padding: 1rem 2rem; }
      #adopta .section3 ul li:hover {
        transition: 1.5s;
        font-size: 18px; }
    #adopta .section3 .more-info {
      height: 200px;
      width: 100%;
      margin: 1rem 0rem;
      padding: 1.5rem 0.5rem 0.5rem 1.5rem;
      font-weight: bold; }
    #adopta .section3-left {
      margin-top: 3rem;
      color: black; }
      #adopta .section3-left h3 {
        color: #f91362; }
    #adopta .section3-right {
      margin-top: 3rem;
      color: white;
      background-color: #989898; }
      #adopta .section3-right .more-info {
        background-color: #5E5956; }
  #adopta .section4 {
    width: 100%;
    margin: 2rem 0rem; }
    #adopta .section4 img {
      width: 100%;
      margin-top: 3rem; }
    #adopta .section4-left h3 {
      margin-top: 4rem;
      padding: 1rem; }
    #adopta .section4-left p {
      padding: 0.5rem 1rem; }
    #adopta .section4-left ul {
      list-style: none;
      text-align: center;
      margin: 1rem; }
      #adopta .section4-left ul a {
        text-decoration: none; }
      #adopta .section4-left ul li {
        color: #35126A;
        font-weight: bold;
        font-size: 16px;
        padding: 1rem;
        animation: 1s; }
      #adopta .section4-left ul li:hover {
        scale: 1.2;
        color: #f91362;
        transition: 1.2s;
        font-size: 16px;
        padding: 1rem; }
  #adopta .section5 {
    text-align: center;
    font-size: 12px;
    width: 100%; }
    #adopta .section5 .download-afiche {
      margin: 1rem; }
    #adopta .section5 h2 {
      margin-top: 3rem; }
    #adopta .section5 h5 {
      margin: 2rem 1rem; }
    #adopta .section5 .download-btn {
      margin: 1rem; }
    #adopta .section5 .download-afiche {
      margin: 1rem; }
  #adopta .waves {
    width: 100%;
    position: relative;
    display: inline-block;
    bottom: -10px; }
    #adopta .waves-top {
      border-bottom: 4rem solid #35126A; }
    #adopta .waves-bottom {
      background-color: #35126A;
      bottom: 0px;
      top: -1px; }

@media only screen and (min-width: 768px) {
  #adopta {
    text-align: center; }
    #adopta p {
      font-size: 18px; }
    #adopta .section1 {
      margin-top: 1rem; }
      #adopta .section1-left {
        margin-top: 2rem; }
      #adopta .section1 p {
        font-size: 20px;
        margin: 4rem 3rem; }
      #adopta .section1 h1 {
        padding: 0rem 3rem;
        font-size: 2rem;
        font-family: 'Moul'; }
    #adopta .section2-left {
      margin-top: 3rem;
      padding: 0rem 3rem; }
    #adopta .section2-right {
      margin-top: 3rem; }
    #adopta .section2 .accordion {
      margin: 1rem 3rem; }
    #adopta .section2 p {
      margin: 1rem; }
    #adopta .section2 img {
      width: 400px; }
    #adopta .section2 h2 {
      font-size: 2rem; }
    #adopta .section3 {
      width: 100%; }
      #adopta .section3-left {
        width: 50%;
        margin-top: 6rem; }
      #adopta .section3-right {
        width: 50%;
        margin-right: 0px;
        margin-top: 6rem; }
      #adopta .section3 p {
        padding: 0.5rem 1rem; }
      #adopta .section3 ul li {
        padding: 1rem 2rem; }
    #adopta .section4 {
      padding-top: 6rem;
      text-align: center; }
      #adopta .section4 img {
        width: 90%;
        margin-top: 2rem; }
    #adopta .section5-left {
      margin-top: 3rem;
      padding: 1rem 3rem; }
    #adopta .section5-right {
      margin-top: 3rem; }
    #adopta .section5 h2 {
      font-size: 28px; }
    #adopta .section5 img {
      width: 14rem; } }

/* ---------CLOSET LGBT----------------- */
/* ------- header ----*/
.afiche {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .afiche-lgbt {
    background-image: linear-gradient(0deg, #8c0183 0%, #1b15d2 20%, #28d910 40%, #e4d015 60%, #d75e17 80%, #d61a1a 100%); }
    .afiche-lgbt .title-1 {
      text-shadow: 0px 5px 5px rgba(238, 212, 65, 0.164);
      font-size: 3rem;
      transform: scale(1, 2);
      font-family: 'Moul', cursive; }
    .afiche-lgbt .title-2 {
      text-shadow: 0px 5px 5px rgba(238, 212, 65, 0.164);
      font-size: 2.7rem;
      transform: scale(1, 2.5);
      font-family: 'Roboto Mono', monospace; }
    .afiche-lgbt img {
      width: 10rem; }
    .afiche-lgbt .title-3 {
      text-shadow: 0px 5px 5px rgba(238, 212, 65, 0.164);
      font-size: 2rem;
      transform: scale(1, 3);
      font-family: 'Moul', cursive; }
    .afiche-lgbt .title-4 {
      text-shadow: 0px 5px 5px rgba(238, 212, 65, 0.164);
      font-size: 2.4rem;
      transform: scale(1, 3);
      font-family: 'Roboto Mono', monospace; }
  .afichefooter {
    border-top: 2px solid black;
    padding: 1rem;
    width: 80%;
    font-size: 1.5rem;
    top: 10px;
    position: relative; }

.row {
  align-items: center; }

#closet {
  width: 100%;
  text-align: center;
  font-size: 12px; }
  #closet ::-webkit-scrollbar {
    display: none; }
  #closet .section1 {
    width: 100%;
    margin: 0;
    padding-top: 5rem; }
    #closet .section1-left {
      padding: 1rem 0rem; }
      #closet .section1-left p {
        padding: 1rem;
        font-size: 16px; }
    #closet .section1-right {
      padding: 0rem;
      width: 100%;
      margin-top: 3rem; }
      #closet .section1-right img {
        width: 100%; }
  #closet .section2 {
    width: 100%;
    margin: 0;
    padding: 0rem 0rem;
    font-size: 18px;
    text-align: center; }
    #closet .section2 .row1 {
      padding: 2rem 2rem;
      display: flex;
      text-align: center; }
    #closet .section2 h2 {
      margin-top: 1rem;
      font-size: 25px; }
    #closet .section2 .box {
      width: 100%;
      padding: 1rem 3rem;
      height: 340px;
      display: flex;
      align-items: center;
      box-shadow: inset 0px 0px 100px 200px #5E5956;
      transition: 0.5s;
      overflow: auto; }
      #closet .section2 .box-1:hover {
        box-shadow: inset 0px 0px 100px -41px #8c0183; }
      #closet .section2 .box-2:hover {
        box-shadow: inset 0px 0px 100px -41px #28d910; }
      #closet .section2 .box-3:hover {
        box-shadow: inset 0px 0px 100px -41px #e4d015; }
      #closet .section2 .box-4:hover {
        box-shadow: inset 0px 0px 100px -41px #d61a1a; }
  #closet .section3 {
    width: 100%;
    margin: 0;
    padding: 0rem 0rem;
    font-size: 16px;
    text-align: center; }
    #closet .section3-left, #closet .section3-right {
      padding-left: 0;
      padding-right: 0; }
    #closet .section3 h2 {
      margin-top: 4rem;
      font-size: 25px; }
    #closet .section3 p {
      width: 100%;
      padding: 2rem 2rem;
      background-color: white;
      box-sizing: border-box; }

@media only screen and (min-width: 768px) {
  #closet {
    text-align: center; }
    #closet p {
      font-size: 18px; }
    #closet .section1 {
      width: 100%;
      margin: 0;
      padding-top: 7rem; }
      #closet .section1-left {
        padding: 6rem 6rem; }
        #closet .section1-left p {
          font-size: 18px;
          margin-top: 2rem; }
      #closet .section1-right {
        padding: 6rem 4rem;
        width: 50%; }
        #closet .section1-right img {
          width: 100%;
          border-radius: 20px; }
    #closet .section2 {
      width: 100%;
      margin: 0;
      padding-top: 7rem; }
      #closet .section2 .box {
        width: 25%;
        height: 450px; } }

/* ---------PAREN DE FUMIGARNOS----------------- */
/* ------- header ----*/
.afiche {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .afiche-fumigarnos {
    background-image: linear-gradient(0deg, #1aab2b 0%, #daf913 50%, #2c8a63 100%); }
    .afiche-fumigarnos .title-1 {
      font-size: 2.9rem;
      transform: scale(1, 2.5);
      font-family: 'Coda Caption', sans-serif; }
    .afiche-fumigarnos .title-2 {
      font-size: 2.7rem;
      transform: scale(1, 2.5);
      font-family: 'Roboto Mono', monospace; }
    .afiche-fumigarnos img {
      width: 15rem; }
    .afiche-fumigarnos .title-3 {
      font-size: 2.8rem;
      transform: scale(1, 2);
      font-family: 'Moul', cursive; }
    .afiche-fumigarnos .title-4 {
      font-size: 2.7rem;
      transform: scale(1, 2.5);
      font-family: 'Roboto Mono', monospace; }
  .afichefooter {
    border-top: 2px solid black;
    padding: 1rem;
    width: 80%;
    font-size: 1.5rem;
    top: 10px;
    position: relative; }

#agrotoxicos {
  text-align: center;
  font-size: 16px; }
  #agrotoxicos p {
    font-size: 16px; }
  #agrotoxicos .section1 {
    width: 100%;
    margin: 0;
    padding-top: 3rem; }
    #agrotoxicos .section1 h2 {
      color: #1aab2b; }
    #agrotoxicos .section1-left p {
      padding: 1rem 1rem; }
    #agrotoxicos .section1-right {
      padding: 0; }
      #agrotoxicos .section1-right img {
        opacity: 0.8;
        width: 100%;
        transition: 1s; }
      #agrotoxicos .section1-right :hover {
        border: 1px solid #daf913;
        opacity: 1; }
  #agrotoxicos .section2 {
    width: 100%;
    margin: 0;
    padding-top: 3rem; }
    #agrotoxicos .section2 h2 {
      font-size: 26px;
      color: #2c8a63; }
    #agrotoxicos .section2 p {
      padding: 1rem 1rem; }
    #agrotoxicos .section2-right {
      padding: 1rem; }
  #agrotoxicos .section3 {
    width: 100%;
    margin: 0;
    padding-top: 4rem; }
    #agrotoxicos .section3 h2 {
      scale: 1.2;
      text-align: center;
      margin: 0 auto;
      width: 70%;
      color: #2c8a63; }
    #agrotoxicos .section3-left p {
      padding: 1rem;
      font-size: 16px; }
    #agrotoxicos .section3-left div {
      margin-bottom: 1rem solid white;
      font-size: 16px; }
      #agrotoxicos .section3-left div .subsection1 {
        padding: 1rem;
        background-color: #1aab2b3d; }
      #agrotoxicos .section3-left div .subsection2 {
        padding: 1rem;
        background-color: #daf9133d; }
      #agrotoxicos .section3-left div .subsection3 {
        padding: 1rem;
        background-color: #2c8a633d; }
    #agrotoxicos .section3-right p {
      padding: 2rem 1rem; }
  #agrotoxicos .section4 {
    width: 100%;
    margin: 0;
    padding-top: 4rem; }
    #agrotoxicos .section4 h2 {
      scale: 1.2;
      text-align: center;
      margin: 0 auto;
      width: 70%;
      color: #1aab2b; }
    #agrotoxicos .section4 p {
      padding: 1rem; }
    #agrotoxicos .section4-left {
      padding-top: 1rem; }
      #agrotoxicos .section4-left .agrotoxicos-circle {
        width: 15rem;
        height: 15rem;
        border-radius: 90%;
        background-color: #1aab2b3d;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 1rem auto;
        padding: 3%; }
  #agrotoxicos .section5-left {
    margin-top: 3rem;
    padding: 1rem 3rem; }
  #agrotoxicos .section5-right {
    margin-top: 3rem; }
  #agrotoxicos .section5 h2 {
    font-size: 28px; }
  #agrotoxicos .section5 img {
    width: 14rem; }

@media only screen and (min-width: 768px) {
  #agrotoxicos p {
    font-size: 18px; }
  #agrotoxicos .section1 {
    width: 100%; }
    #agrotoxicos .section1 h2 {
      margin-top: 4rem;
      scale: 1, 1,6;
      color: #1aab2b; }
    #agrotoxicos .section1-left p {
      padding: 1rem 4rem; }
    #agrotoxicos .section1-right img {
      width: 70%;
      transition: 1s; }
    #agrotoxicos .section1-right :hover {
      opacity: 1; }
  #agrotoxicos .section2 {
    padding-top: 7rem; }
    #agrotoxicos .section2 h2 {
      padding: 1rem 6rem;
      scale: 1.3;
      font-size: 26px;
      color: #2c8a63; }
    #agrotoxicos .section2 p {
      padding: 1rem 1rem; }
    #agrotoxicos .section2-left {
      text-align: center; }
      #agrotoxicos .section2-left img {
        width: 60%; }
    #agrotoxicos .section2-right {
      padding: 1rem; }
  #agrotoxicos .section3 {
    width: 100%;
    margin: 0;
    padding-top: 3rem; }
    #agrotoxicos .section3 h2 {
      padding-top: 3rem;
      padding-bottom: 1rem; }
    #agrotoxicos .section3-left {
      padding-left: 3rem; }
      #agrotoxicos .section3-left p {
        padding: 1rem;
        font-size: 16px; }
      #agrotoxicos .section3-left .row {
        align-items: flex-start; }
    #agrotoxicos .section3-right p {
      padding: 1rem 4rem; }
  #agrotoxicos .section4 {
    padding-top: 7rem; }
    #agrotoxicos .section4 h2 {
      scale: 1.3; }
    #agrotoxicos .section4 p {
      padding: 2rem 4rem; }
    #agrotoxicos .section4-left {
      padding-top: 1rem; }
      #agrotoxicos .section4-left .agrotoxicos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
      #agrotoxicos .section4-left-circle {
        width: 15rem;
        height: 15rem; }
    #agrotoxicos .section4-right {
      padding-top: 1rem 6rem; }
  #agrotoxicos .section5 {
    text-align: center;
    font-size: 12px;
    width: 100%; }
    #agrotoxicos .section5 .download-afiche {
      margin: 1rem; }
    #agrotoxicos .section5 h2 {
      margin-top: 3rem; }
    #agrotoxicos .section5 h5 {
      margin: 2rem 1rem; }
    #agrotoxicos .section5 .download-btn {
      margin: 1rem; }
    #agrotoxicos .section5 .download-afiche {
      margin: 1rem; }
    #agrotoxicos .section5 img {
      width: 15rem; } }

/* ---------ADOPTA------------- */
/* ------- header (mobile)----*/
.afiche {
  width: 100%;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .afiche-petroleras {
    background-image: linear-gradient(0deg, #1e4ba5 0%, #136bf9 25%, #8a2c84 100%); }
    .afiche-petroleras .title-1 {
      font-size: 2.9rem;
      padding-top: 1.5rem;
      transform: scale(1, 4);
      font-family: 'Coda Caption', sans-serif; }
    .afiche-petroleras .title-2 {
      font-size: 2.7rem;
      padding-bottom: 1.5rem;
      transform: scale(1, 3);
      font-family: 'Roboto Mono', monospace; }
    .afiche-petroleras img {
      padding-top: 1rem;
      width: 12rem; }
    .afiche-petroleras .title-3 {
      font-size: 2.7rem;
      transform: scale(1, 3);
      font-family: 'Moul', cursive; }
  .afichefooter {
    border-top: 2px solid black;
    padding: 1rem;
    width: 80%;
    font-size: 1.5rem;
    top: 10px;
    position: relative; }

/* ------- main (mobile) ----*/
#petroleras {
  width: 100%;
  text-align: center;
  font-size: 12px; }
  #petroleras ::-webkit-scrollbar {
    display: none; }
  #petroleras .section1 {
    width: 100%;
    margin: 0; }
    #petroleras .section1-left {
      margin-top: 5rem; }
      #petroleras .section1-left p {
        padding: 1rem 1rem; }
      #petroleras .section1-left strong {
        color: red; }
    #petroleras .section1-right {
      margin-top: 5rem;
      padding: 0; }
      #petroleras .section1-right img {
        width: 100%; }
  #petroleras .section2 {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
    padding-top: 4rem; }
    #petroleras .section2 h2 {
      margin-top: 1rem;
      padding: 1rem 0rem; }
    #petroleras .section2-left, #petroleras .section2-right {
      box-shadow: 0px 10px 15px -5px #1e4ba5;
      padding: 1rem 1rem; }
    #petroleras .section2-middle {
      padding: 1rem 1rem; }
      #petroleras .section2-middle .logo {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center; }
        #petroleras .section2-middle .logo .logo-img {
          width: 100px;
          height: auto;
          padding: 1rem; }
  #petroleras .section3 {
    width: 100%;
    margin: 0;
    padding-top: 4rem; }
    #petroleras .section3 h2 {
      margin-top: 2rem;
      padding: 1rem 1rem; }
    #petroleras .section3 h3 {
      color: #8a2c84; }
    #petroleras .section3 .icon {
      width: 50px;
      margin: 1.5rem; }
  #petroleras .section4 {
    width: 100%;
    margin: 0;
    padding-top: 5rem; }
    #petroleras .section4 h2 {
      color: #136bf9;
      padding: 1rem 1rem; }
    #petroleras .section4-left {
      padding-bottom: 2rem; }
    #petroleras .section4-right {
      padding-bottom: 2rem; }
      #petroleras .section4-right img {
        width: 100%; }
      #petroleras .section4-right p {
        padding: 1rem 2rem;
        margin-top: 2rem;
        box-shadow: 0px 1px 0px 1px #136bf9; }
  #petroleras .section5-left {
    margin-top: 3rem;
    padding: 1rem 3rem; }
  #petroleras .section5-right {
    margin-top: 3rem; }
  #petroleras .section5 h2 {
    font-size: 28px; }
  #petroleras .section5 img {
    width: 14rem; }

@media only screen and (min-width: 768px) {
  #petroleras p {
    font-size: 18px; }
  #petroleras .section1 {
    width: 100%;
    margin-top: -5rem; }
    #petroleras .section1-left {
      transform: skew(45deg);
      background-color: white;
      z-index: 1;
      position: relative; }
      #petroleras .section1-left .section-left-text {
        height: 36rem;
        transform: skew(-45deg); }
        #petroleras .section1-left .section-left-text h2 {
          margin-top: 5rem;
          padding: 5% 40% 0% 3%; }
          #petroleras .section1-left .section-left-text h2 strong {
            margin-bottom: 4rem;
            scale: 1.4; }
        #petroleras .section1-left .section-left-text .text1 {
          padding: 5% 26% 0% 3%; }
        #petroleras .section1-left .section-left-text .text2 {
          background-color: white;
          padding: 5% 16% 0% 3%; }
    #petroleras .section1-right {
      margin-top: 0rem; }
      #petroleras .section1-right .image {
        z-index: -1;
        position: relative;
        width: 250%;
        height: 36rem;
        right: 120%; }
      #petroleras .section1-right img {
        height: 100%;
        object-fit: cover; }
  #petroleras .section2 {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1; }
    #petroleras .section2 h2 {
      margin-top: 5rem;
      padding: 1rem 0rem; }
    #petroleras .section2 .shape1 {
      visibility: hidden; }
    #petroleras .section2-left, #petroleras .section2-right {
      word-wrap: break-word;
      box-sizing: border-box;
      height: 30rem;
      border: 0rem 1rem;
      padding: 1rem 2rem;
      overflow: auto;
      box-shadow: 0px 10px 5px -5px #1e4ba5; }
    #petroleras .section2-middle {
      padding: 1rem 4rem; }
      #petroleras .section2-middle .logo .logo-img {
        width: 150px; }
  #petroleras .section3 {
    width: 100%;
    margin: 0; }
    #petroleras .section3 h3 {
      margin: 1rem; }
    #petroleras .section3-left, #petroleras .section3-right {
      word-wrap: break-word;
      box-sizing: border-box;
      height: 40rem;
      border: 0rem 1rem;
      padding: 1rem 6rem;
      overflow: auto;
      box-shadow: 0px 10px 5px -5px #1e4ba5; }
  #petroleras .section4 {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem; }
    #petroleras .section4 h2 {
      margin: 1rem; }
    #petroleras .section4 .accordion {
      font-size: 16px; }
      #petroleras .section4 .accordion .accordion-button {
        font-size: 18px; }
    #petroleras .section4-left {
      padding: 1rem 2rem; }
      #petroleras .section4-left p {
        padding-bottom: 4rem; }
    #petroleras .section4-right {
      padding: 1rem 2rem; }
      #petroleras .section4-right p {
        box-shadow: none; }
      #petroleras .section4-right img {
        border-radius: 8px;
        width: 50%;
        margin-top: 2rem; }
  #petroleras .section5 {
    text-align: center;
    font-size: 12px;
    width: 100%; }
    #petroleras .section5 .download-afiche {
      margin: 1rem; }
    #petroleras .section5 h2 {
      margin-top: 3rem; }
    #petroleras .section5 h5 {
      margin: 2rem 1rem; }
    #petroleras .section5 .download-btn {
      margin: 1rem; }
    #petroleras .section5 .download-afiche {
      margin: 1rem; }
    #petroleras .section5 img {
      width: 15rem; } }

footer {
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: #131313;
  color: white; }
  footer ul {
    list-style: none; }
  footer a {
    margin-top: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff; }

.footer-container {
  width: 100%;
  padding-left: 1rem;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.copyright-text {
  text-align: center;
  padding-top: 2rem; }

/* ---------------navbar -------------- */
.nav-list {
  text-align: center; }

.nav-link-campañas {
  background-color: #989898;
  width: 20%; }

.navbar-toggler {
  opacity: 0.5;
  background-color: #989898 !important; }

@media only screen and (min-width: 992px) {
  .navbar {
    height: 6rem; }
  .nav-list {
    text-align: center;
    width: 100%;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-evenly; }
    .nav-list .nav-item {
      margin: 0rem 1rem; }
    .nav-list .nav-item:hover {
      color: white;
      text-decoration: none;
      transform: scale(1.1);
      border-bottom: 1px solid rgba(65, 65, 65, 0.438); } }

#toxic {
  animation: theme 21s linear infinite; }
  #toxic:after, #toxic:before {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    width: 100vmax;
    height: 100vmax;
    background: rgba(0, 0, 0, 0.05);
    animation: background 90s linear infinite; }
  #toxic:after {
    left: 15vw; }
  #toxic:before {
    right: 15vw;
    animation-delay: -30s;
    animation-direction: reverse; }

@keyframes theme {
  0% {
    background: #8c0183; }
  20% {
    background: #1b15d2; }
  40% {
    background: #28d910; }
  60% {
    background: #e4d015; }
  80% {
    background: #d75e17; }
  100% {
    background: #d61a1a; } }

@keyframes background {
  0% {
    transform: rotate(0deg); } }
