
$adopta-color-one : #35126A;
$adopta-color-two: #f91362;
$adopta-color-three: #ff8e44;


$color-grey-100: #989898;
$color-grey-200: #5E5956;

$petroleras-color-one : #1e4ba5;
$petroleras-color-two : #136bf9;
$petroleras-color-three: #8a2c84;