
$adopta-color-one : #35126A;
$adopta-color-two: #f91362;
$adopta-color-three: #ff8e44;

$color-grey-0:  #dddddd;
$color-grey-100: #989898;
$color-grey-200: #5E5956;

$petroleras-color-one : #1e4ba5;
$petroleras-color-two : #136bf9;
$petroleras-color-three: #8a2c84;

$closet-color-violet: #8c0183;
$closet-color-blue: #1b15d2;
$closet-color-green: #28d910;
$closet-color-yellow: #e4d015;
$closet-color-orange:#d75e17;
$closet-color-red:#d61a1a;
$trans-color-blue: #5bcefa;
$trans-color-pink: #f5a9b8;

$toxic-color-one: #1aab2b;
$toxic-color-two:#daf913;
$toxic-color-three:#2c8a63;
