/* ---------------navbar -------------- */
.navbar{
  height: 4rem;
}
.nav-list {
  text-align: center;
} 

@media only screen and (min-width: 768px) {
  .navbar{
    height: 6rem;
  }
  .nav-list {
    text-align: center;
    width: 100%;
    display: flex;
    height: 4rem;
    // opacity: 0.5;
    align-items: center;
    justify-content: space-evenly;
    .nav-item {
      margin: 0rem 1rem
    }
    .nav-item:hover {
        color:white;
      text-decoration: none;
      transform: scale(1.1);
      border-bottom: 1px solid rgba(65, 65, 65, 0.438);
    }
  }

}