
/* ---------ADOPTA----------------- */

  /* ------- header ----*/
// .section1 .section12 .section3 .section4 .section5{
//   width: 100%;
// }

  .afiche {
    
    @include afiche;
    &-adopta {
        background-image: linear-gradient(
          0deg,
          $adopta-color-three 0%,
          $adopta-color-two 50%,
          $adopta-color-one 100%
        );
     
      .title-1 {
        font-size: 2.8rem;
        transform: scale(1, 3);
        font-family: 'Coda Caption', sans-serif;
      }
      
      .title-2 {
        font-size: 2.7rem;
        transform: scale(1, 2.5);
        font-family: 'Roboto Mono', monospace;
      }
      
      img {
        width: 15rem;
      }
      .title-3 {
        font-size: 2.8rem;
        transform: scale(1, 3);
        font-family: 'Moul', cursive;
      }

    }

    &footer {
        border-top: 2px solid black;
        padding: 1rem;
        width: 80%;
        font-size: 1.5rem;
        top: 10px;
        position: relative;
      }  
      .nav-item-header {
        margin-top: 2rem;
      } 
  }

  /* ------- main ----*/
  .row {
    align-items: center;
  }
  main {
    text-align: center;
  .section1 {
    width: 100%;
    padding:3rem 2rem;

    img {
      margin-top: 3rem;
      scale: 1.2;
    }
  }
  .section2 {
    --bs-gutter-x: 0rem;
    width: 100%;
    background-color: $adopta-color-one;
    padding:3rem 2rem;
    color:white;
    align-items: flex-start;
    
    p {
      width: 100%;
      margin:1rem;
      font-size: 16px;
  }
   img {
    text-align: center;
    margin:2rem 0rem;
    width: 400px;
  }
  }

  .section3 {
    background-image: -moz-linear-gradient(red, blue, yellow);
    margin-top:2rem;
    h3 {
      padding: 2rem;
    }
    p{
      padding: 0.5rem 1.5rem;
    }
    ul {
      list-style: none;
      text-align: center;
      margin:1rem;
      li {
        font-weight: bold;
        font-size:16px;
        padding: 1rem;
      }
      li:hover {
        scale: 1.2;
        transition: 1.5s;
        font-size:16px;
        padding: 1rem;
      }
    }
    .more-info {
      background-color:$adopta-color-three;
      color: white;
      padding: 1.5rem 2.5rem 5rem 2.5rem;
      font-weight: bold;
      border: 0rem;
    }
    .perro {
      background-color: rgb(235, 210, 177);
      margin-top: -1rem;
      padding-top: 3rem;
    }
    img {
    width: 17rem;
    margin-top: 5rem;
    position: absolute;
  }
  }

  .waves {
    width: 100%;
    position: relative;
    display: inline-block;
    bottom:-10px;
    &-2 {
background-color:$adopta-color-one;
bottom:0px;
top:-1px
    }
  }

  .subtitle {
  
    margin:2rem 2rem;
  }
  .accordion {
    margin:1rem;
  }
  .download-btn {
    margin:1rem
  }
  
  .download-afiche {
    margin: 1rem;
  }
}
  @media only screen and (min-width: 768px) {
  
    /* >>> main   */
  main {
    margin-top:6rem;
    text-align: center;
  }
  
  main h1 {
    padding: 0rem 3rem;
    font-size: 3rem;
    font-family: 'Moul';
    /* width: 100%; */
  }
  
  main h2 {
    font-size: 3rem;
  }
  main p {
   margin: 6rem ;
   text-align-last: center;
   font-size: 18px;
  }
  .section2 p {
    margin:3rem 8rem;
    font-size: 20px;
  }
  .section2 img {
    width: 400px;
  }
  .fixed-bottom {
    margin-right: 2%!important;
  }
  .fixed-bottom .btn {
    margin-bottom: 3rem;
  }
  
  
  }
  
  
  