/* ---------CLOSET LGBT----------------- */

/* ------- header ----*/
.afiche {
  @include afiche;

  &-lgbt {
    background-image: linear-gradient(0deg,
        $closet-color-violet 0%,
        $closet-color-blue 20%,
        $closet-color-green 40%,
        $closet-color-yellow 60%,
        $closet-color-orange 80%,
        $closet-color-red 100%);

    .title-1 {
      text-shadow: 0px 5px 5px rgba(238, 212, 65, 0.164);
      font-size: 3rem;
      transform: scale(1, 2);
      font-family: 'Moul', cursive;
    }

    .title-2 {
      text-shadow: 0px 5px 5px rgba(238, 212, 65, 0.164);
      font-size: 2.7rem;
      transform: scale(1, 2.5);
      font-family: 'Roboto Mono', monospace;
    }

    img {
      width: 10rem;
    }

    .title-3 {
      text-shadow: 0px 5px 5px rgba(238, 212, 65, 0.164);
      font-size: 2rem;
      transform: scale(1, 3);
      font-family: 'Moul', cursive;
    }

    .title-4 {
      text-shadow: 0px 5px 5px rgba(238, 212, 65, 0.164);
      font-size: 2.4rem;
      transform: scale(1, 3);
      font-family: 'Roboto Mono', monospace;
    }
  }

  &footer {
    border-top: 2px solid black;
    padding: 1rem;
    width: 80%;
    font-size: 1.5rem;
    top: 10px;
    position: relative;
  }
}

.row {
  align-items: center;
}

#closet {
  width: 100%;
  text-align: center;
  font-size: 12px;

  ::-webkit-scrollbar {
    display: none;
  }

  .section1 {
    width: 100%;
    margin: 0;
    padding-top: 5rem;

    &-left {
      padding: 1rem 0rem;

      p {
        padding: 1rem;
        font-size: 16px;
      }
    }

    &-right {
      padding: 0rem;
      width: 100%;
      margin-top: 3rem;

      img {
        width: 100%;

      }
    }
  }

  .section2 {
    width: 100%;
    margin: 0;
    padding: 0rem 0rem;
    font-size: 18px;
    text-align: center;

    .row1 {
      padding: 2rem 2rem;
      display: flex;
      text-align: center;
    }

    h2 {
      color: $closet-color-orange;
      margin-top: 1rem;
      font-size: 25px;
    }
    .box {
      width: 100%;
      padding: 1rem 3rem;
      height: 340px;
      display: flex;
      align-items: center;
      box-shadow: inset 0px 0px 100px 200px $color-grey-200;
      transition: 0.5s;
      overflow: auto;
      
      &-1:hover {
        box-shadow: inset 0px 0px 100px -41px $closet-color-violet;
      }
      &-2:hover {
        box-shadow: inset 0px 0px 100px -41px $closet-color-green
      }

      &-3:hover {
        box-shadow: inset 0px 0px 100px -41px $closet-color-yellow
      }

      &-4:hover {
        box-shadow: inset 0px 0px 100px -41px $closet-color-red
      }
    }



  }

  .section3 {
    width: 100%;
    margin: 0;
    padding: 0rem 0rem;
    font-size: 16px;
    text-align: center;
    &-left , &-right{
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      color: $closet-color-green;
      margin-top: 4rem;
      font-size: 25px;

    }
    p{
      width: 100%;
      padding: 2rem 2rem;
      background-color: white;
      box-sizing: border-box;
    }
  }

  .section4 {
    width: 100%;
    margin: 0;
    padding: 0rem 0rem;
    font-size: 18px;
    text-align: center;
    &-left {
      padding: 0rem;
      margin: 0rem;
    }

    h2 {
      color: $closet-color-orange;
      margin-top: 4rem;
      font-size: 25px;
      padding-bottom: 1rem;
    }
    .box {
      width: 100%;
      padding: 1rem 3rem;
      height: 340px;
      display: flex;
      align-items: center;
      box-shadow: inset 0px 0px 100px 200px $color-grey-200;
      transition: 0.5s;
      overflow: auto;
      
      &-10:hover {
        box-shadow: inset 0px 0px 100px -41px $trans-color-blue
      }

      &-11:hover {
        box-shadow: inset 0px 0px 100px -41px $trans-color-pink
      }

      &-12:hover {
        box-shadow: inset 0px 0px 100px -41px $trans-color-blue
      }
    }



  }
  .section5 {
    @include section5-responsive
}

}

// para vista en desktop
@media only screen and (min-width: 768px) {
  #closet {
    p {
      font-size: 18px;
    }

    text-align: center;


    .section1 {
      width: 100%;
      margin: 0;
      padding-top: 7rem;

      &-left {
        padding: 6rem 6rem;

        p {
          font-size: 18px;
          margin-top: 2rem;
        }
      }

      &-right {
        padding: 6rem 4rem;
        width: 50%;

        img {
          width: 100%;
          border-radius: 20px;

        }
      }
    }

    .section2 {
      width: 100%;
      margin: 0;
      padding-top: 7rem;
      .box {
        width: 25%;
        height: 450px;
      }
    }
    h4 {
      width: 50%;
      margin: 0 auto;
    }
    .section3 {
      width: 100%;
      margin: 0;
      padding-top: 7rem;
      p {
        padding: 2  rem 1rem;
        width: 25%;
        height: 25vh;
      }
      &-left {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
    }

    .section4{
      width: 100%;
      margin: 0;
      padding-top: 7rem;
      .box {
        width: 33%;
        height: 450px;
      }
    }
    .section5 {
     
      @include section5;
      img {
      width: 15rem;
      }
    }
  }
}